/* * DEFAULTS pressStart */
img {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    /* pointer-events:none */
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(1.313rem, 3vw, 3rem);
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(5rem, 11vw, 6.5rem);
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(1.313rem, 4vw, 3.313rem);
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: clamp(0.8313rem, 2vw, 1.313rem);
}
/* 
font-family: 'Bebas Neue', cursive;
font-family: 'Zilla Slab', serif; 
*/

section {
    position: relative;
}

/* * DEFAULTS gameOver  */

header {
    background: linear-gradient(to bottom, transparent, #222326);
    color: white;
    display: grid;
    min-height: 100vh;
    place-items: center;
    position: relative;
}

header #header-bg {
    filter: blur(2px);
    inset: 0;
    min-height: inherit;
    position: absolute;
    transition: 1s ease-in-out;
    z-index: -1;
}

header #hero-content-wrapper:has(#asapf-logo:hover) ~ #header-bg {
    filter: blur(8px) saturate(0);
}

header #hero-content-wrapper:has(#asapf-logo:hover) #header-text-content {
    opacity: 0;
}

header #hero-content-wrapper {
    display: grid;
    padding-inline: 8vw;
    place-items: center;
    gap: 8rem;
    text-align: center;
    text-shadow: 0 0 8px black;
    z-index: 1;
}

header #hero-content-wrapper #asapf-logo {
    cursor: pointer;
    filter: drop-shadow(0 0 8px white);
    margin-inline: auto;
    opacity: 0.8;
    transition: transform 188ms ease-in-out, opacity 1s ease-in-out;
    width: min(75vw, 1000px);
}

header #hero-content-wrapper #asapf-logo:hover {
    transform: scale(1.05);
    opacity: 1;
}

header #hero-content-wrapper #header-text-content {
    transition: opacity 1s ease-in-out;
}

main section:nth-of-type(odd) {
    background-color: #222326;
    color: white;
}

main section:nth-of-type(even) {
    background-color: gray;
}

main #about {
    padding-bottom: 50px;
}

main #about #mothers-day-gallery {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding-inline: 5vw;
    margin-bottom: 50px;
}

main #about #mothers-day-gallery img {
    filter: drop-shadow(0 0 8px white);
    transition: all 333ms ease-in-out;
}

main #about #mothers-day-gallery:has(img:nth-of-type(3):hover) img:not(:nth-of-type(3)) {
    opacity: 1;
    transform: scale(0.8) rotate(12deg);
}

main #about #mothers-day-gallery img:not(:nth-of-type(3)) {
    opacity: 0.5;
}

main #about #mothers-day-gallery img:hover:not(:nth-of-type(3)) {
    opacity: 1;
    transform: rotate(-12deg) scale(1.1);
}

main #about #mothers-day-gallery img:nth-of-type(1) {
    grid-area: 3 / 1 / 5 / 5;
}

main #about #mothers-day-gallery img:nth-of-type(2) {
    grid-area: 2 / 4 / 5 / 7;
}

main #about #mothers-day-gallery img:nth-of-type(3) {
    cursor: pointer;
    grid-area: 3 / 6 / 7 / 10;
    z-index: 1;
}

main #about #mothers-day-gallery:has(img:nth-of-type(3):hover) img:nth-of-type(3) {
    transform: translateX(-60px) scale(1.2) rotate(-12deg);
}

main #about #mothers-day-gallery img:nth-of-type(4) {
    grid-area: 1 / 9 / 4 / 11;
}

main #about-content-wrapper {
    padding-inline: 5vw;
    position: relative;
}

main #about-content-wrapper h2 {
    position: absolute;
    pointer-events: none;
    text-shadow: -8px -8px black;
    top: -150px;
    z-index: 1;
}

main #about #about-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

main #about #about-cards > .about-card {
    border-radius: 3rem;
    box-shadow: 0 0 8px black;
    position: relative;
    padding: 1.5rem;
    z-index: 1;
}

main #about #about-cards > .about-card::before {
    content: '';
    border-radius: inherit;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(0.5rem, 0.5rem);
    transition: all 111ms ease-in-out;
    z-index: -1;
}

main #about #about-cards > .about-card:hover::before {
    transform: translate(0, 0);
}

main #about #about-cards > .about-card h3 {
    margin-bottom: 15px;
}

main #history .custom-shape-divider-top-1680073608 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

main #history {
    background: url('../assets/back-to-school.jpg') center / cover no-repeat;
    filter: saturate(0.4);
    padding-bottom: 100px;
} 

main #history #history-content-wrapper {
    padding-inline: 5vw;
}

#history-content-wrapper h2 {
    text-align: end;
    text-shadow: 5px -5px white;

}

#history-content-wrapper p {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    color: white;
    padding: 50px 80px;
    position: relative;
    text-align: center;
}

#history-content-wrapper p::before {
    content: '';
    border-radius: inherit;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(1rem, 1rem);
    transition: all 111ms ease-in-out;
    z-index: -1;
}

#history-content-wrapper p:hover::before {
    transform: translate(0, 0);
}


/* main #about #about-cards > .about-card h2 {
} */

@media only screen and (min-width: 768px) {
    main #about #mothers-day-gallery {
        margin-bottom: 100px;
    }

    main #about #about-cards {
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    main #about #about-cards > .about-card {
        padding: 2rem;
    }
}







