@keyframes float {
    from {
        transform: translateY(0);
        opacity: 0.3;
    }
    to {
        opacity: 0.8;
        transform: translateY(8px);
    }
}

/* * DEFAULTS pressStart */
img {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    /* pointer-events:none */
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(1.313rem, 3vw, 3rem);
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(5rem, 11vw, 6rem);
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(1.313rem, 5vw, 2.5rem);
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: clamp(1rem, 2vw, 1.313rem);
}

section {
    position: relative;
    overflow-x: hidden;
}

section .section-content {
    max-width: 1200px;
    margin-inline: auto;
}

/* * DEFAULTS gameOver  */

header {
    background: linear-gradient(to bottom, transparent, #222326);
    color: white;
    display: grid;
    min-height: 100vh;
    place-items: center;
    position: relative;
}

header #nav-btn {
    cursor: pointer;
    display: grid;
    filter: drop-shadow(0 0 3px black);
    height: 33px;
    place-items: center;
    position: fixed;
    right: min(5vw, 75px);
    top: min(5vw, 75px);
    width: 33px;
    z-index: 2;
}

header #nav-btn #nav-btn-span {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 100%;
}

header #nav-btn #nav-btn-span::before {
    background-color: inherit;
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform: translateY(-8px);
} 

header #nav-btn #nav-btn-span::after {
    background-color: inherit;
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform: translateY(8px);
} 

header #header-bg {
    background: url('../assets/heroBG.webp') center / cover no-repeat;
    filter: blur(2px);
    inset: 0;
    position: absolute;
    transition: 1s ease-in-out;
    z-index: -1;
}

header #hero-content-wrapper:has(#asapf-logo:hover) ~ #header-bg {
    filter: blur(8px) saturate(0);
}

header #hero-content-wrapper:has(#asapf-logo:hover) #header-text-content {
    opacity: 0;
}

header #hero-content-wrapper {
    display: grid;
    padding-inline: 8vw;
    place-items: center;
    gap: 8rem;
    text-align: center;
    text-shadow: 0 0 8px black;
    z-index: 1;
}

header #hero-content-wrapper #asapf-logo {
    cursor: pointer;
    filter: drop-shadow(0 0 8px white);
    margin-inline: auto;
    opacity: 0.8;
    transition: transform 188ms ease-in-out, opacity 1s ease-in-out;
    width: min(75vw, 1000px);
}

header #hero-content-wrapper #asapf-logo:hover {
    opacity: 1;
    transform: scale(1.05);
}

header #hero-content-wrapper #header-text-content {
    transition: opacity 1s ease-in-out;
}

header #header-scroll-wrapper {
    animation: 0.8s float cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
    display: grid;
    gap: 10px;
    opacity: 0.7;
    place-items: center;
}

header #header-scroll-wrapper p {
    font-family: 'Bebas Neue', cursive;
}

header #header-scroll-wrapper #scroll-down-img {
    border-radius: 50%;
    border: 2px solid white;
    height: 55px;
    padding: 15px 10px 10px 10px;
    width: 55px;
}

main section:nth-of-type(odd) {
    background-color: #222326;
    color: white;
}

main section:nth-of-type(even) {
    background-color: gray;
}

main #about {
    padding-bottom: 50px;
}

main #about #mothers-day-gallery {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 50px;
    padding-inline: 5vw;
}

main #about #mothers-day-gallery img {
    filter: drop-shadow(0 0 8px white);
    transition: all 333ms ease-in-out;
}

main #about #mothers-day-gallery:has(img:nth-of-type(3):hover) img:not(:nth-of-type(3)) {
    opacity: 1;
    transform: scale(0.8) rotate(12deg);
}

main #about #mothers-day-gallery img:not(:nth-of-type(3)) {
    opacity: 0.5;
}

main #about #mothers-day-gallery img:hover:not(:nth-of-type(3)) {
    opacity: 1;
    transform: rotate(-12deg) scale(1.1);
}

main #about #mothers-day-gallery img:nth-of-type(1) {
    grid-area: 3 / 1 / 5 / 5;
}

main #about #mothers-day-gallery img:nth-of-type(2) {
    grid-area: 2 / 4 / 5 / 7;
}

main #about #mothers-day-gallery img:nth-of-type(3) {
    cursor: pointer;
    grid-area: 3 / 6 / 7 / 10;
    z-index: 1;
}

main #about #mothers-day-gallery:has(img:nth-of-type(3):hover) img:nth-of-type(3) {
    transform: translateX(-60px) scale(1.2) rotate(-12deg);
}

main #about #mothers-day-gallery img:nth-of-type(4) {
    grid-area: 2 / 9 / 4 / 11;
}

main #about #about-content-wrapper {
    padding-inline: 5vw;
    position: relative;
}

main #about #about-content-wrapper h2 {
    pointer-events: none;
    position: absolute;
    text-shadow: -8px -8px black;
    top: -150px;
    z-index: 1;
}

main #about #about-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

main #about #about-cards > .about-card {
    background: linear-gradient(to top, rgb(108, 58, 66), #222326) ;
    border: 3px solid white;
    border-radius: 3rem;
    box-shadow: 0 0 8px black;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    z-index: 1;
}

main #about #about-cards > .about-card::before {
    background-color: #222326;
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform: translateY(0) scale(0.95);
    transform-origin: top left;
    transition: all 111ms ease-in-out;
    z-index: -1;
}

main #about #about-cards > .about-card:hover::before {    
    transform: translateY(0) scale(1);
}

main #about #about-cards > .about-card h3 {
    border: 3px dashed white;
    border-radius: 50px;
    box-shadow: inset 0 0 10px 8px black;
    margin-bottom: 15px;
    margin-inline: auto;
    padding-inline: 2rem;
    width: max-content;
}

main #history .custom-shape-divider-top-1680073608 {
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

main #history {
    background: url('../assets/back-to-school.jpg') center / cover no-repeat, linear-gradient(to bottom, transparent, white);
    filter: saturate(0.3);
    padding-bottom: 100px;
    transition: all 0.7s ease-in-out;
} 

main #history:hover {
    filter: saturate(1);
}

main #history #history-content-wrapper {
    padding-inline: 5vw;
}

main #history #history-content-wrapper h2 {
    color: white;
    text-align: end;
    text-shadow: 0px 3px 5px black, 8px -8px black;
}

main #history #history-content-wrapper p {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    color: white;
    padding: 25px 25px;
    position: relative;
    text-align: center;
}

main #history #history-content-wrapper p::before {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform: translate(1rem, 1rem);
    transition: all 111ms ease-in-out;
    z-index: -1;
}

main #history #history-content-wrapper p:hover::before {
    transform: translate(0, 0);
}

main #mission {
    padding-bottom: 100px;
}

main #mission #mission-content-wrapper {
    padding-inline: 5vw;
}

main #mission #mission-content-wrapper:hover .mission-card:first-of-type {
    transform: translate(-8px, -33px);
}

main #mission #mission-content-wrapper:hover .mission-card:last-of-type {
    transform: translate(8px, 33px);
}

main #mission #mission-content-wrapper:hover .mission-image:first-of-type {
    transform: rotate(21deg);
}

main #mission #mission-content-wrapper:hover .mission-image:last-of-type {
    transform: rotate(-21deg);
}

main #mission #mission-content-wrapper h2 {
    color: white;
    text-shadow: -8px -8px black;
}

main #mission #mission-content-wrapper #mission-cards {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main #mission #mission-content-wrapper #mission-cards .mission-card {
    background: rgb(77, 77, 77);
    border-radius: 3rem;
    border: 3px solid black;
    box-shadow: 0 0 8px black, inset 0 0 21px black;
    display: grid;
    padding: 1rem;
    place-items: center;
    position: relative;
    transition: all 380ms ease-in-out;
    z-index: 1;
}

main #mission #mission-content-wrapper #mission-cards .mission-card::before {
    background-color: rgba(0, 0, 0, 0.333);
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: inherit;
    z-index: -1;
}

main #mission #mission-content-wrapper:hover #mission-cards .mission-card::before {
    transform: scaleX(1);
}

main #mission #mission-content-wrapper #mission-cards > .mission-image {
    border-radius: 5rem;
    box-shadow: 0 0 8px 5px black;
    position: relative;
    transition: all 555ms ease-in-out;
    z-index: 0;
}

main #mission #mission-content-wrapper #mission-cards .mission-card:first-of-type {
    grid-area: 1 / 1 / 2 / 6;
}

main #mission #mission-content-wrapper #mission-cards .mission-card:nth-of-type(2) {
    grid-area: 2 / 3 / 3 / 8;
}

main #mission #mission-content-wrapper #mission-cards .mission-card:last-of-type {
    grid-area: 3 / 5 / 4 / 10;
}

main #mission #mission-content-wrapper #mission-cards .mission-image:first-of-type {
    grid-area: 1 / 6 / 3 / 10;
}

main #mission #mission-content-wrapper #mission-cards .mission-image:last-of-type {
    grid-area: 3 / 1 / 5 / 5;
}

main #mission #mission-content-wrapper #mission-cards h3 {
    border: 3px dashed white;
    border-radius: 50px;
    box-shadow: inset 0 0 10px 8px black;
    justify-self: start;
    padding-inline: 1rem 2rem;
    position: relative;
    text-align: start;
    transform-origin: left;
    transition: 380ms ease-in;
}

main #mission #mission-content-wrapper #mission-cards h3::before {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform-origin: left;
    transform: translateX(0) scaleX(0.7);
    transition: all 111ms ease-in-out;
    z-index: -1;
}

main #mission #mission-content-wrapper #mission-cards .mission-card:hover h3::before {
    transform: scaleX(1) translateX(0);
}

main #mission #mission-content-wrapper #mission-cards p {
    padding-bottom: 16px;
    text-align: center;
}

main #saving-lives {
    background: linear-gradient(to bottom, #222326, transparent, #222326);
    overflow: hidden;
    padding-bottom: 100px;
    padding-inline: 5vw;
    position: relative;
}

main #saving-lives:hover #saving-lives-text-content-wrapper::before {
    transform: translate(-15px, -15px);
}

main #saving-lives:hover #saving-lives-text-content-wrapper ~ img {
    transform: scale(1) rotate(0);
}

main #saving-lives:hover #saving-lives-bg {
    transform: scale(1.3);
}

main #saving-lives #saving-lives-content-wrapper {
    display: grid;
    gap: 50px;
    place-items: center;
}

main #saving-lives #saving-lives-bg {
    background: url('../assets/saving-lives-bg.webp') center / cover no-repeat;
    height: 100%;
    inset: 0;
    position: absolute;
    transition: transform 555ms ease-in-out;
    width: 100%;
    z-index: -1;
}

main #saving-lives .saving-lives-text-section {
    margin-bottom: 25px;
}

main #saving-lives h2 {
    color: white;
    margin-bottom: 15px;
    text-align: end;
    text-shadow: 0px 3px 5px black, 8px -8px black;
}

main #saving-lives #saving-lives-text-content-wrapper {
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 25px;
    color: white;
    padding: 16px 24px;
    position: relative;
    text-align: start;
}

main #saving-lives #saving-lives-text-content-wrapper::before {
    background-color: rgba(0, 0, 0, 0.333);
    border-radius: 25px;
    content: '';
    height: 100%;
    inset: 0;
    position: absolute;
    transition: all 0.55s ease-in-out;
    width: 100%;
    z-index: -1;
}

main #saving-lives img {
    border-radius: 25px;
    box-shadow: 0 3px 18px 7px;
    transform: rotate(1deg);
    transition: all 0.55s ease-in-out;
}

main #gallery {
    background: linear-gradient(to bottom, rgb(108, 58, 66), #222326, black);
    padding-bottom: 100px;
}

main #gallery-content-wrapper {
    padding-inline: 5vw;
}

main #gallery .event-divider {
    margin-bottom: 100px
}

main #gallery h2 {
    color: white;
    text-shadow: 8px 8px 10px black;
}

main #gallery h3 {
    margin-bottom: 33px;
    text-align: center;
    text-shadow: 5px -5px 0px black;
}

main #gallery .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-inline: 5vw;
    position: relative;
    z-index: 1;
}

main #gallery .image-container:hover img {
    filter: saturate(1);
}

main #gallery .image-container:hover img:nth-of-type(1) {
    transform: translate(-15px, -15px) rotate(-3deg);
} 

main #gallery .image-container:hover img:nth-of-type(2) {
    transform: translate(15px, -15px) rotate(3deg);
} 

main #gallery .image-container:hover img:nth-of-type(3) {
    transform: translate(-15px, 15px) rotate(3deg);
} 

main #gallery .image-container:hover img:nth-of-type(4) {
    transform: translate(15px, 15px) rotate(-3deg);
} 

main #gallery .image-container:last-of-type {
    grid-template-rows: 1fr;
}

main #gallery .event-divider:not(:last-child) .image-container::before {
    background: radial-gradient(white, rgb(108, 58, 66), #222326);
    border-radius: 50%;
    content: '';
    height: 250px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: -1;
}

main #gallery .image-container img {
    border-radius: 50px;
    box-shadow: 0 0 5px 2px #222326;
    filter: saturate(0);
    transition: all 380ms ease-in-out;
}

main #gallery .image-container img:first-of-type,
main #gallery .image-container img:nth-of-type(3) {
    justify-self: end;
}

main #gallery .image-container img:nth-of-type(2),
main #gallery .image-container img:last-of-type {
    justify-self: start;
}

footer {
    color: white;
    background-color: black;
    padding-bottom: 25px;
    text-align: center;
    text-shadow: 0 0 18px rgb(108, 58, 66);
}

@media only screen and (min-width: 768px) {
    main #about #mothers-day-gallery {
        margin-bottom: 100px;
    }

    main #about #about-cards > .about-card {
        padding: 2rem;
    }

    main #mission {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    
    main #mission #mission-content-wrapper #mission-cards .mission-card:first-of-type {
        grid-area: 1 / 1 / 2 / 6;
    }

    main #mission #mission-content-wrapper #mission-cards .mission-card:nth-of-type(2) {
        grid-area: 2 / 3 / 3 / 8;
    }

    main #mission #mission-content-wrapper #mission-cards .mission-card:last-of-type {
        grid-area: 3 / 5 / 4 / 10;
    }

    main #mission #mission-content-wrapper #mission-cards .mission-image:first-of-type {
        grid-area: 1 / 6 / 3 / 10;
    }

    main #mission #mission-content-wrapper #mission-cards .mission-image:last-of-type {
        grid-area: 2 / 1 / 5 / 5;
    }

    main #saving-lives #saving-lives-content-wrapper {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    main #saving-lives .saving-lives-text-section {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    main #about #about-cards {
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
}